$pink: #ed545d;
$yellow-light: #fffae8;
$gray-middle: #ABB6B8;
$gray-strong: #55545B;
$gray-heavy: #424147;

$primary-color: $pink;
$secondary-color: $yellow-light;


$font-sansserif: 'Khula', sans-serif;
$font-serif: 'Lora', sans-serif;
