$pink: #ed545d;
$yellow-light: #fffae8;
$gray-light: #F2F1F1;
$gray-middle: #ABB6B8;
$gray-strong: #55545B;
$gray-heavy: #424147;

$primary-color: $pink;
$secondary-color: $yellow-light;


$font-sansserif: 'Khula', sans-serif;
$font-serif: 'Lora', sans-serif;

$tiny: 12px unquote("/") 20px;
$small: 15px unquote("/") 22px;
$medium: 18px unquote("/") 27px;
$normal: 21px unquote("/") 32px;
$big: 28px unquote("/") 36px;
$huge: 48px unquote("/") 72px;
