<!DOCTYPE html>
<html>

  {% include head.html %}


  <body>

    {% include header.html %}

    <!--<div class="content-home logo-home">

      <div class="circles">
        <div class="circle logo"></div>
        <div class="circle avatar"></div
      </div>-->

      <div class="content-home clearfix">

        <div class="col-sm-8 col-sm-offset-2">
          <h1 class="align-center">
            I’m obsessed with people:<br>
            human interaction and reaction<br>
            with digital products
          </h1>
        </div>

        <!--<h1 class="name-home align-center">
          Laura Morelli
        </h1>

        <h2 class="claim-home align-center">
          Product Designer<br>
          guided by humans
        </h2>

        <div class="photo-home">
        </div>-->


      </div>

            {{ content }}


    {% include footer.html %}

    <!--<div class="home site-header">
      {% include nav.html %}
    </div>-->


    <!--{% include frame.html %}-->

  </body>

</html>
