<!DOCTYPE html>
<html>

  {% include head.html %}


  <body>

    {% include header.html %}

      <div id="particles-js"></div>
      <div class="content-home clearfix">


        <div class="wrapper">
          <div class="claim">
            <h1>
              I’m Laura Morelli,<br>
              <small>Product Designer.</small>
            </h1>

            <p>I'm passionate about human<br>
              interactions and reactions<br>
              using digital products.
            </p>
          </div>
        </div>


      </div>




    {{ content }}


    <div class="wrapper">
      <div class="col-sm-8 col-sm-offset-2">

        <p class="align-center" style="margin-top: 36px; padding-top: 60px; background: url(../asset/line.png) no-repeat top; background-size: 60px 10px;">Recent works</p>

        <ul class="post-list work-list mini">
          {% for work in site.works reversed %}
            <li>
              <a class="work-link" href="{{ work.url | prepend: site.baseurl }}">
                <img width="520" src="{{ work.image}}" />
                <div class="work-detail">
                  <h2>{{ work.title }}</h2>
                  <p class="work-meta">{{ work.year }}</p>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>


      </div>
    </div>


    {% include footer.html %}


  </body>

</html>
