<!DOCTYPE html>
<html>

  {% include head.html %}


  <body>

    {% include header.html %}

      <div class="content-home clearfix">

        <div class="wrapper">
          <div class="claim">
            <h1>
              I’m Laura Morelli,<br>
              <small>Product Designer.</small>
            </h1>

            <p>I'm passionate about human<br>
              interactions and reactions<br>
              using digital products.
            </p>
          </div>
        </div>


      </div>

    {{ content }}


    {% include footer.html %}


  </body>

</html>
